[submodule "Flowise"]
	path = Flowise
	url = git@code.eoitek.net:monitor/jax/flowise.git
[submodule "langfuse"]
	path = langfuse
	url = git@code.eoitek.net:monitor/jax/langfuse.git
[submodule "ragflow"]
	path = ragflow
	url = git@code.eoitek.net:monitor/jax/ragflow.git
