[submodule "Flowise"]
	path = Flowise
	url = git@github.com:wangdisdu/flowise.git
[submodule "langfuse"]
	path = langfuse
	url = git@github.com:wangdisdu/langfuse.git
[submodule "ragflow"]
	path = ragflow
	url = git@github.com:wangdisdu/ragflow.git
